# Python
Backend/venv/
Backend/__pycache__/
*.pyc

# Environment Variables
Backend/.env

# Node
Frontend/node_modules/

# Build files
Frontend/dist/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log